:root {
  --grey-line: #e5e9ed;
  --zero-red: #cd2e3a;
}

h5 {
  color: #af4173;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  position: static;
}

.main-nav-container {
  z-index: 100;
  border-bottom: 1px solid var(--grey-line);
  background-color: #fff;
  justify-content: center;
  align-items: center;
  height: 85px;
  display: flex;
}

._06-logo {
  width: 210px;
}

.menu-div {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1250px;
  height: 100%;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 20px;
  line-height: 20px;
  display: flex;
}

.right-menu-div {
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  display: flex;
}

.nav-links {
  color: #333;
  font-family: futura-pt-bold, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
  display: none;
}

.nav-links.inactive {
  color: #b1b1b1;
  cursor: not-allowed;
  display: none;
}

.menu-divider-line {
  background-color: var(--grey-line);
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 0 0;
  background-size: auto;
  width: 1px;
  height: 100%;
  margin-left: 25px;
  margin-right: 25px;
  display: none;
}

.button {
  background-color: var(--zero-red);
  letter-spacing: .5px;
  white-space: normal;
  margin-left: 25px;
  padding: 15px 35px;
  font-family: futura-pt, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
}

.button.nomargin {
  margin-left: 0;
}

.hero-container {
  border-bottom: 1px solid var(--grey-line);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 80px;
  display: flex;
}

.center-content-div {
  text-align: left;
  justify-content: space-between;
  width: 100%;
  max-width: 1250px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
}

.center-content-div._50-50-flex {
  z-index: 1;
  justify-content: space-between;
  height: 775px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.center-content-div.center-logo-special {
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
}

.center-content-div.center-projects {
  flex-direction: column;
  align-items: center;
  padding-top: 0;
  display: flex;
}

.left-content-block {
  text-align: left;
}

.left-content-block.hero-padding {
  width: 100%;
  max-width: 680px;
  padding-top: 100px;
  position: absolute;
}

.left-content-block.footer {
  max-width: 650px;
}

.h3 {
  color: #6e6e6e;
  letter-spacing: .5px;
  font-family: Futura;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.h3.no-margin {
  letter-spacing: .5px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: futura-pt, sans-serif;
  font-size: 22px;
  line-height: 32px;
}

.h3.footer-special {
  color: #404040;
  text-align: right;
  margin-top: 0;
  margin-bottom: 24px;
  font-family: futura-pt, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 34px;
  display: none;
}

.h3.footer-special.stack-mobile-hide {
  margin-bottom: 28px;
  display: block;
}

.h1 {
  color: #000;
  font-family: futura-pt-bold, sans-serif;
  font-size: 36px;
  line-height: 46px;
}

.h1._34 {
  font-size: 34px;
  line-height: 44px;
}

.h1.footer-special {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
  line-height: 30px;
}

.h1._20margin {
  margin-top: 30px;
  margin-bottom: 20px;
}

.h2 {
  color: #636363;
  letter-spacing: .5px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: futura-pt, sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 30px;
}

.h2.center {
  text-align: center;
  max-width: 820px;
}

.hero-buttons-container {
  margin-top: 40px;
}

.gradient-button {
  z-index: 100;
  background-color: var(--zero-red);
  letter-spacing: .5px;
  background-image: linear-gradient(275deg, #a30712, #ff9d9d);
  border-radius: 50px;
  padding: 15px 35px;
  font-family: futura-pt-bold, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  position: relative;
}

.text-link {
  color: var(--zero-red);
  font-family: Futura;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  text-decoration: none;
}

.text-link.left-margin {
  margin-left: 35px;
  font-family: futura-pt, sans-serif;
  font-size: 20px;
  line-height: 22px;
  display: none;
}

.h4 {
  color: #3e3e3e;
  letter-spacing: .5px;
  font-family: futura-pt-bold, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
}

.right-side-hero-photo {
  z-index: 0;
  background-image: url('../images/Hero-Photo.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: scroll;
  width: 775px;
  height: 775px;
  position: absolute;
  inset: -45px -430px 45px 425px;
}

.client-logo-container {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  margin-top: 10px;
  display: block;
}

.client-logo {
  max-width: none;
  height: 70px;
  padding: 15px 20px;
}

.client-logo.nbc {
  max-width: 240px;
  height: 55px;
}

.hero-header-emoji-div {
  align-items: center;
  display: flex;
}

.emojis {
  height: 28px;
  margin-left: 10px;
}

.projects-container {
  border-bottom: 1px solid var(--grey-line);
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
}

.footer-container {
  background-color: #f7f7f7;
  justify-content: center;
  align-items: flex-start;
  padding-top: 60px;
  padding-bottom: 120px;
  display: flex;
}

.contact-footer-container {
  border-bottom: 1px solid var(--grey-line);
  background-color: #fafafa;
  justify-content: center;
  align-items: flex-start;
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
}

.availability-div {
  align-items: center;
  margin-top: 15px;
  margin-bottom: 35px;
  display: flex;
}

.available-dot {
  color: #33a532;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 10px;
  font-size: 25px;
  line-height: 25px;
}

.available-span {
  color: #33a532;
  font-weight: 600;
}

.right-content-block {
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 40px;
  display: flex;
}

.logo-small {
  max-width: 110px;
}

.footer-copyright-text {
  color: #b1b1b1;
  text-align: right;
  letter-spacing: .5px;
  font-family: futura-pt, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  display: none;
}

.filter-controls {
  justify-content: space-between;
  width: 500px;
  padding: 20px 15px 15px;
  display: flex;
}

.filter-controls.hide {
  display: none;
}

.filter-button {
  color: #636363;
  background-color: #fff;
  border-radius: 20px;
  padding: 10px 20px;
  font-family: futura-pt-bold, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
}

.filter-button:focus {
  background-color: var(--zero-red);
  color: #fff;
  border-radius: 20px;
}

.filter-button.w--current {
  background-color: var(--zero-red);
  color: #fff;
  font-size: 20px;
  line-height: 20px;
}

.mix-container {
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 13px;
  padding-left: 10px;
}

.mix-container.hide {
  display: none;
}

.open-popup {
  float: left;
  filter: grayscale(20%);
  transform-style: preserve-3d;
  width: 33%;
  padding: 7px;
  text-decoration: none;
  transition: transform .2s;
}

.open-popup:hover {
  filter: grayscale(0%);
  transform: scale3d(1.04, 1.04, 2);
}

.thumb-block-div {
  background-color: #000;
  border: 1px solid #fff;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 0;
  padding: 10px 15px 15px;
  display: flex;
}

.image-2 {
  border: 1px solid var(--grey-line);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  max-width: none;
}

.company-type-text {
  color: #909090;
  letter-spacing: .5px;
  margin-bottom: 3px;
  font-family: futura-pt, sans-serif;
  font-size: 16px;
  line-height: 16px;
}

.company-title {
  color: #fff;
  letter-spacing: .5px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-family: futura-pt-bold, sans-serif;
  font-size: 20px;
  line-height: 20px;
}

.thumb-right-div {
  height: 100%;
}

.view-project-text {
  color: var(--zero-red);
  text-align: right;
  font-family: futura-pt, sans-serif;
  font-size: 16px;
  line-height: 22px;
}

.lagree-modal {
  z-index: 900;
  object-fit: fill;
  background-color: #000c;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  max-height: 100%;
  display: none;
  position: fixed;
  inset: 0%;
  overflow: visible;
}

.modalbox {
  grid-row-gap: 30px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  place-content: start center;
  place-items: start center;
  width: 100%;
  max-width: 1250px;
  margin-top: 0;
  padding: 100px 50px 70px;
  display: grid;
}

.modalbox._10-gap {
  grid-row-gap: 0px;
}

.close-popup {
  z-index: 11;
  color: var(--zero-red);
  background-color: #fff;
  border-radius: 10px;
  padding: 0;
  font-family: Montserrat, sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 28px;
}

.close-pop-up-div {
  z-index: 50;
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1250px;
  height: 100%;
  padding: 20px 50px;
  display: flex;
}

.popup-bg {
  background-color: #fff;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
  margin: 0;
  padding: 0;
  display: inline-flex;
  overflow: auto;
}

.h3-pop-up-title {
  letter-spacing: .5px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-family: futura-pt-bold, sans-serif;
  font-size: 26px;
  line-height: 26px;
}

._50-image-wrap {
  max-width: 50%;
  padding: 10px;
}

.image-set {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.image-set._100-vertical {
  display: flex;
}

.title-block {
  border-bottom: 1px none var(--grey-line);
  width: 100%;
  margin-bottom: 30px;
  padding-top: 0;
  padding-bottom: 30px;
}

.title-block.hide-line {
  border-bottom-style: none;
}

.title-block.hide-line.nomarginnopadding {
  margin-bottom: 0;
  padding-bottom: 0;
}

.project-title {
  color: #333;
  text-align: center;
  letter-spacing: .5px;
  text-transform: none;
  margin-top: 0;
  margin-bottom: 5px;
  font-family: futura-pt-bold, sans-serif;
  font-size: 20px;
  line-height: 20px;
}

.project-role {
  color: var(--zero-red);
  text-align: center;
  letter-spacing: .5px;
  margin-bottom: 0;
  font-family: futura-pt, sans-serif;
  font-size: 16px;
  line-height: 16px;
}

._100-image-wrap {
  float: left;
  width: 100%;
  padding: 10px;
}

._100-image-wrap._80-percent {
  width: 80%;
}

.video-div-embed {
  justify-content: center;
  width: 100%;
}

.pop-up-header-container {
  z-index: 100;
  border-bottom: 1px solid var(--grey-line);
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
  height: 70px;
  display: flex;
  position: fixed;
}

.nugz-modal, .nbcu-modal, .lesruches-modal {
  z-index: 900;
  object-fit: fill;
  background-color: #000c;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  max-height: 100%;
  display: none;
  position: fixed;
  inset: 0%;
  overflow: visible;
}

.body, .page-content {
  height: 100%;
}

.doom-modal, .nanno-modal, .footfixr-modal, .webberfilmsmodal, .gcreative-modal, .music-modal, .shorts-modal, .print-modal {
  z-index: 900;
  object-fit: fill;
  background-color: #000c;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  max-height: 100%;
  display: none;
  position: fixed;
  inset: 0%;
  overflow: visible;
}

.schedule-button-container {
  align-items: center;
  display: flex;
}

.mobile-hero-image-div {
  display: none;
}

.projects-tabs {
  flex-direction: column;
  align-items: center;
  width: 100%;
  display: flex;
}

.design-tab, .all-tab, .web-tab, .video-tab {
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 13px;
  padding-left: 10px;
}

.coming-soon-div {
  color: #fff;
  background-color: #ffd900;
  justify-content: center;
  align-items: center;
  width: 130px;
  padding: 10px;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  position: absolute;
  inset: 150% 0% 0% -44%;
}

.video-div {
  width: 100%;
  height: 100%;
}

.utility-page-wrap {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  display: flex;
}

.utility-page-content {
  text-align: center;
  flex-direction: column;
  align-items: center;
  width: 260px;
  display: flex;
}

.div-block {
  margin-bottom: 30px;
}

.externalbuttondiv {
  margin-top: 0;
  padding-top: 0;
}

.footcopymobileonly {
  display: none;
}

@media screen and (max-width: 991px) {
  .main-nav-container {
    top: auto;
  }

  .h3.footer-special {
    display: none;
  }

  .h3.footer-special.stack-mobile-hide {
    display: block;
  }

  .open-popup {
    width: 50%;
  }

  .modalbox {
    align-content: start;
    align-items: start;
  }

  .mobile-hero-image-div {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .menu-div {
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
  }

  .right-menu-div {
    display: none;
  }

  .center-content-div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
  }

  .center-content-div._50-50-flex {
    height: auto;
    padding-bottom: 60px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .center-content-div.center-logo-special, .center-content-div.center-projects {
    padding-left: 30px;
    padding-right: 30px;
  }

  .center-content-div.footer-special {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .left-content-block.hero-padding {
    max-width: 100%;
    padding-top: 60px;
    position: static;
  }

  .left-content-block.footer {
    text-align: center;
  }

  .h3.no-margin {
    font-size: 20px;
    line-height: 30px;
  }

  .h3.footer-special {
    text-align: center;
    margin-top: 30px;
    display: block;
  }

  .h3.footer-special.stack-mobile-hide {
    display: none;
  }

  .h1 {
    text-align: center;
    font-size: 34px;
    line-height: 44px;
  }

  .h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 22px;
    line-height: 25px;
  }

  .hero-buttons-container {
    text-align: center;
  }

  .h4 {
    font-size: 16px;
    line-height: 26px;
  }

  .right-side-hero-photo {
    display: none;
  }

  .hero-header-emoji-div, .availability-div {
    justify-content: center;
  }

  .available-dot {
    display: none;
  }

  .right-content-block {
    align-items: center;
    padding-bottom: 0;
  }

  .footer-copyright-text {
    text-align: right;
  }

  .mix-container {
    padding-bottom: 0;
    padding-left: 0;
  }

  .open-popup {
    width: 100%;
  }

  .lagree-modal {
    z-index: 200;
    width: 100vw;
    height: 100%;
    position: fixed;
    overflow: visible;
  }

  .modalbox {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    background-color: #fff;
    flex-direction: column;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    display: grid;
  }

  .close-pop-up-div {
    padding-left: 30px;
    padding-right: 30px;
  }

  .popup-bg {
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    max-height: 100vh;
  }

  ._50-image-wrap {
    max-width: 100%;
  }

  .nugz-modal, .nbcu-modal, .lesruches-modal, .doom-modal, .nanno-modal, .footfixr-modal, .webberfilmsmodal, .gcreative-modal, .music-modal, .shorts-modal, .print-modal {
    z-index: 200;
    width: 100vw;
    height: 100%;
    position: fixed;
    overflow: visible;
  }

  .schedule-button-container {
    justify-content: center;
  }

  .mobile-hero-image-div {
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    display: flex;
  }

  .design-tab, .all-tab, .web-tab, .video-tab {
    padding-bottom: 0;
    padding-left: 0;
  }
}

@media screen and (max-width: 479px) {
  .main-nav-container {
    height: 70px;
  }

  ._06-logo {
    width: 180px;
  }

  .menu-div, .center-content-div, .center-content-div._50-50-flex, .center-content-div.center-projects {
    padding-left: 20px;
    padding-right: 20px;
  }

  .center-content-div.footer-special {
    flex-direction: column;
    justify-content: center;
  }

  .h3.no-margin {
    text-align: center;
  }

  .h3.footer-special {
    margin-top: 50px;
    display: none;
  }

  .h3.footer-special.stack-mobile-hide {
    display: block;
  }

  .gradient-button {
    margin-bottom: 30px;
  }

  .text-link.left-margin {
    margin-left: 0;
  }

  .hero-header-emoji-div {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .available-dot {
    display: none;
  }

  .footer-copyright-text {
    text-align: center;
    margin-top: 20px;
  }

  .filter-controls {
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .filter-button {
    margin: 10px;
  }

  .filter-button.w--current {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .open-popup {
    width: 100%;
  }

  .modalbox, .close-pop-up-div {
    padding-left: 15px;
    padding-right: 15px;
  }

  .popup-bg {
    border-radius: 0;
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    max-height: 100vh;
  }

  .schedule-button-container {
    flex-direction: column;
  }

  .footcopyrightrightjustified {
    display: none;
  }

  .footcopymobileonly {
    margin-top: 30px;
    display: block;
  }
}

#project-video.w-node-_161212e3-c5e4-8e68-52bc-ce5d3463f687-ba01ea50 {
  place-self: auto;
}


